.about {
	&-container {
	}
	&-bio {
		margin: 1rem;
		@include flex(center, center, column);

		&-container {
			width: 90%;
			text-align: left;

			.text-greetings {
				display: block;
				margin-bottom: 1rem;
			}
		}

		h1 {
			margin-bottom: 1.2rem;
		}

		p {
			line-height: 1.6rem;
			font-size: 1.2rem;
		}
	}

	&-tech {
		text-align: center;

		@include borderTest(white);

		&-wrapper {
			// width: 80vw;
			// @include flex(null, center, row);
		}

		&-container {
			display: flex;
			padding: 1rem;
		}
		&-card {
			padding: 0.8rem;
		}
		&-img-container {
			width: 3rem;
			margin-top: 0.4rem;
		}
	}
}

@include media-small-lg {
	.about__work-history__tech-cards {
		width: 60vw;

		&__card {
			z-index: 6;
		}
	}

	.about__bio-container {
		width: 80%;
	}
}

@include media-xl {
	.about__bio {
		width: 60vw;

		p {
			font-size: 1.4rem;
			line-height: 1.8rem;
		}
	}
	.about__work-history__tech-cards {
		width: 40vw;

		&__card {
			margin: 2rem 0;
			z-index: 6;
			font-size: 1.3rem;

			p {
				line-height: 1.6rem;
			}
		}
	}

	.about__bio-container {
		width: 80%;
	}
}

@include media-xxl {
	.about__bio {
		width: 60vw;

		p {
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}
	.about__work-history__tech-cards {
		width: 40vw;

		&__card {
			margin: 2.3rem 0;
			z-index: 6;
			font-size: 1.4rem;

			p {
				line-height: 1.9rem;
			}
		}
	}
}
