.project {
	// padding: 2rem 0 8rem 0;
	padding: 2rem;
	text-align: center;

	.text-secondary {
		color: $secondary-color;
		font-size: 2rem;
	}

	&-tag-container {
		// @include borderTest(white);
		@include flex(center, center, row);
		margin-top: 1rem;
	}

	&-tags-wrapper {
		@include flex(space-between, center, row);
		width: 80%;
	}

	&-tag {
		background-color: rgb(244, 244, 244);
		color: black;
		font-weight: bold;
		padding: 0.4rem 0.6rem;
		font-size: 0.8rem;
		border-radius: 0.2rem;
	}

	&-items {
		// width: 70vw;
		margin: 2rem auto 0 auto;
		display: grid;
		grid-gap: 2rem;
	}

	&-item {
		position: relative;
		border-bottom: 5px solid white;
		overflow: hidden;
		min-height: 36rem;
		height: fit-content;
		border-radius: 1rem;

		@include borderTest(white);
		display: flex;
		flex-direction: column;

		&-heading-wrapper {
			margin: 0.8rem 0;
			padding: 0 1rem;
			// text-align: left;
		}

		&-heading {
			// text-align: center;
			margin-bottom: 0.4rem;
			font-weight: bold;
			color: $secondary-color;
			font-size: 1.6rem;

			&__sub-heading {
				font-style: italic;
			}
		}

		&-description {
			padding: 0 1rem;
			text-align: center;
		}

		&-img-container {
			height: 15rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	&-btns {
		background-color: #2f2f2f;
		position: absolute;
		bottom: 0;
		width: 100%;
		@include flex(space-between, center, row);

		&-wrapper {
			@include flex(center, center, column);
			&_heading {
				margin-bottom: 1.8rem;
				letter-spacing: 1px;
			}
		}
	}

	&-btn {
		font-size: 1.2rem;
		color: set-text-color($secondary-color);
		margin: 0 0.6rem;
		border-radius: 0.2rem;
		background-color: white;
		padding: 0.8rem 1rem;
		&-icon {
			opacity: 1;
			font-size: 3rem;
			color: set-text-color($secondary-color);
			@include transition-ease;
			@include flex(center, center, row);
			margin: 0 0.6rem;

			i {
				width: 5rem;
				height: 5rem;
				@include flex(center, center, row);
				color: set-text-color(set-text-color($secondary-color));
			}
		}
	}

	.in-progress-text {
		font-size: 1.2rem;
		color: white;
	}

	.social-icons {
		display: flex;
		flex-direction: column;
	}

	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}

@include media-xl {
	.projects {
		padding: 3rem 0;

		.text-secondary {
			margin-bottom: 4rem;
		}
		&__btn {
			font-size: 3.8rem;
			margin: 0 1.5rem;

			i {
				width: 7rem;
				height: 7rem;
			}
		}

		.in-progress-text {
			font-size: 1.7rem;
		}
	}
}

@include media-xxl {
	.projects {
		padding: 4rem 0;

		&__btn {
			font-size: 5rem;
			margin: 0 1.5rem;

			i {
				width: 9rem;
				height: 9rem;
			}
		}

		.in-progress-text {
			font-size: 2.5rem;
		}
	}
}
