.projects {
  padding-bottom: 2rem;
  text-align: center;
 

  &__items {
    width: 70vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;
    border-radius:0.2rem;
    img {
      width: 100%;
      opacity: 0.8;
      height: 98%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 1;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include flex(center, center, row);
  }

  &__btn {
    opacity: 0;
    font-size: 2.8rem;
    color: set-text-color($secondary-color);
    @include transition-ease;
    @include flex(center, center,row);  
   
    margin:0 .6rem;
    i{
     
      width: 5rem;
      height: 5rem;
     @include flex(center, center,row);   
      border-radius: 50%;

      &:hover{
        box-shadow: 1px 2px 4px #834358, -1px -1px 4px rgb(213, 174, 174);
      }

  

      &.inProgress:hover{
        box-shadow: none;
      }
    }
    
    &:hover {
      color: set-text-color(set-text-color($secondary-color));
     
    }

   
  }

  .in-progress-text{
    font-size:1.2rem;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
