@mixin setBorder {
	border: 2px solid rgb(37, 37, 37);
}

.projects {
	padding: 2rem 0 8rem 0;
	text-align: center;

	.text-secondary {
		color: $secondary-color;
		font-size: 2rem;
	}

	&__items {
		width: 70vw;
		margin: 2rem auto 0 auto;
		display: grid;
		grid-gap: 2rem;
	}

	&__item {
		position: relative;
		border-bottom: 5px solid $secondary-color;
		overflow: hidden;
		border-radius: 0.2rem;
		@include setBorder();
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-heading {
			margin: 0.8rem 0 2rem 0;

			&-highlighted {
				font-weight: bold;
				color: rgb(241, 96, 120);
			}
		}
		img {
			width: 100%;
			opacity: 0.4;
			height: 98%;
		}
	}

	&__btns {
		position: absolute;
		top: 8%;
		height: 100%;
		width: 100%;
		z-index: 1;
		@include flex(space-evenly, center, row);

		&-wrapper {
			@include flex(center, center, column);
			&_heading {
				margin-bottom: 1.8rem;
				letter-spacing: 1px;
			}
		}
	}

	&__btn {
		opacity: 1;
		font-size: 4rem;
		color: set-text-color($secondary-color);
		@include transition-ease;
		@include flex(center, center, row);
		margin: 0 0.6rem;

		&:active {
			i {
				box-shadow: 1px 4px 5px #dacdcd, -1px -1px 4px #fff;
				background: linear-gradient(14deg, #b4385f 30%, #ff0044f2 100%);
			}
		}
		i {
			width: 6rem;
			height: 6rem;
			@include flex(center, center, row);
			border-radius: 50%;
			box-shadow: 1px 2px 4px #470b1f, -1px -1px 4px #d5aeae;
			background: rgb(173, 52, 90);
			background: linear-gradient(
				14deg,
				rgb(74, 9, 30) 30%,
				rgba(207, 20, 70, 0.946) 100%
			);

			color: set-text-color(set-text-color($secondary-color));

			&.inProgress {
				box-shadow: none;
				background: rgb(167, 46, 84);
			}
		}
	}

	.in-progress-text {
		font-size: 1.2rem;
		color: white;
	}

	.social-icons {
		display: flex;
		flex-direction: column;
	}

	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}

@include media-xl {
	.projects {
		padding: 3rem 0;

		.text-secondary {
			margin-bottom: 4rem;
		}
		&__btn {
			font-size: 3.8rem;
			margin: 0 1.5rem;

			i {
				width: 7rem;
				height: 7rem;
			}
		}

		.in-progress-text {
			font-size: 1.7rem;
		}
	}
}

@include media-xxl {
	.projects {
		padding: 4rem 0;

		&__btn {
			font-size: 5rem;
			margin: 0 1.5rem;

			i {
				width: 9rem;
				height: 9rem;
			}
		}

		.in-progress-text {
			font-size: 2.5rem;
		}
	}
}
