@import 'config', 'home', 'menu', 'about', 'projects', 'contact', 'responsive';

body {
	background: $primary-color;
	color: set-text-color($primary-color);
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-weight: 400;
}

a {
	color: set-text-color($primary-color);
	text-decoration: none;
}

header {
	width: 100%;
	padding: 3rem;
}

main {
	width: 100%;
}

.social-icons {
	bottom: 1rem;

	a {
		padding: 0.4rem;
		@include transition-ease;

		&:hover {
			color: $secondary-color;
			transform: scale(1.2);
		}
	}
}

footer {
	background-color: rgba(8, 8, 15, 0.99);
	bottom: 0;
	position: fixed;
	width: 100%;
	@include flex(space-between, center, row);
	box-shadow: 0 -2px 4px #040406;
	padding: 1.3rem 1rem;
	color: set-text-color($primary-color);
	z-index: 2;
	.social-icons {
		@include flex(space-around, center, row);

		width: 100vw;
		a {
			margin: 0.3rem 0;
		}
	}

	.copyright {
		order: 1;
		font-size: 0.8rem;
		display: none;
	}
}

@include media-small-lg {
	footer {
		background-color: rgba(8, 8, 15, 0);
		@include flex(space-between, center, row);
		font-size: 1rem;
		padding: 1rem;
		color: set-text-color($primary-color);
		bottom: 10%;
		width: 100%;
		z-index: 1;
		box-shadow: none;
		.social-icons {
			@include flex(center, center, column);
			bottom: 1rem;
			left: 2rem;
			position: absolute;
			width: 0;
			a {
				margin: 0.3rem 0;
			}
		}

		.copyright {
			transform: rotate(90deg) translate(-3rem, 2rem);
			position: absolute;
			bottom: 4rem;
			right: -4rem;
			font-size: 1rem;
			display: block;
		}
	}
}

@include media-xl {
	main {
		@include flex(center, center, column);
	}
	footer {
		.social-icons {
			left: 3rem;
			font-size: 1.3rem;
		}

		.copyright {
			right: -3.8rem;
			font-size: 1.3rem;
		}
	}
}

@include media-xxl {
	footer {
		.social-icons {
			left: 4rem;
			font-size: 1.7rem;
		}

		.copyright {
			right: -4rem;
			font-size: 1.7rem;
		}
	}
}
